.aboutSection {
    /* Nothing */
}

.wrapper {
    flex: 1;
    max-width: var(--max-width);

    @apply flex flex-col;
    @apply pt-32;
}

.content {
    flex: 1;
    @apply flex justify-between;
    @apply mt-4;
}

.aboutText {
    max-width: 40rem;
}
.subTitle {
    @apply text-2xl font-semibold pt-4;
    max-width: 20rem;
}

.techLogo {
    @apply flex justify-start items-center;
}

.techLogo > span {
    width: 2rem;
    @apply mr-2;
}