.section {
    @apply mt-14 mb-7;
}

.wrapper {
    flex: 1;
    max-width: calc(var(--max-width) * 0.5);

    @apply flex flex-col mx-auto text-center;
}

.description {
    @apply mt-8;
}

.contactButton {
    max-width: fit-content;
    @apply flex justify-between items-center;
    @apply mt-8 py-4 px-8 mx-auto;
    @apply rounded-full;
    
    background-color: var(--accent-green);
    color: #ffffff;
}

.contactButton > p {
    @apply pr-3;
}

.contactButton:hover {
    background-color: var(--light-blue);
}