.iconContainer {
    @apply rounded-full;
    @apply p-4 mb-3 w-14 h-14;
    @apply flex;

    background-color: #f2f3f5;
    color: #45505b;
}

.iconContainer span {
    @apply py-0 pl-2 pr-2;
    display: none;
}

.iconContainer:hover {
    width: auto;
    background-color: #0563bb;
    color: #ffffff;
}

.iconContainer:hover span {
    display: block;
}