.section {
    /* Re-apply when putting back "Projects" section
    @apply -mt-20 pt-40 pb-20;
    */
    @apply mt-20 pt-20 pb-20;
    
    background-color: var(--bg-dark);
}

.wrapper {
    flex: 1;
    max-width: var(--max-width);

    @apply flex flex-col;
}

.cardWrapper {
    @apply mt-20 flex justify-center;
}